name: "Update Types"

on:
  # schedule:
  #   - cron: '0 * * * *' # every hour
  workflow_dispatch: # Allow manual runs

jobs:
  update-types:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"
        with:
          persist-credentials: true

      - name: "Install Flatpak"
        run: |
          sudo apt update -y
          sudo apt install flatpak -y

      - name: "Install latest GNOME SDK"
        run: |
          # Add Flathub remote
          flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo --user

          # Find latest SDK
          LATEST_SDK=$(flatpak search org.gnome.Sdk --columns=branch | sort -V | tail -n1)
          echo "Latest GNOME SDK branch: $LATEST_SDK"

          # Install it
          flatpak install --user -y org.gnome.Sdk//${LATEST_SDK}

      - name: "Generate the types"
        run: |
          flatpak run \
          --command=bash \
          --share=network \
          --filesystem=~/types:create \
          org.gnome.Sdk//${LATEST_SDK} -c "
            mkdir -p "${HOME}/.nvm"
            # Install latest Node LTS
            curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
            \. "$HOME/.nvm/nvm.sh"
            nvm install 22
            node -v
          "
